/*Overview Page CSS*/

#main {
    background: linear-gradient( rgba(0, 0, 200, 0.2),
    rgba(0, 0, 255, 0.4)), url('../img/cal1.jpg') no-repeat center;
    background-size: contain;
}

.primary-label {
    padding: 15px 5px 10px 5px;
    margin: 10px 5px 10px 5px;
}

.list {
    text-align: left;
    display: inline-block;
}

.text {
    border-radius: 10px;
    border: 1px solid black;
    height: 100%;
}

.info {
    border: none;
    border-radius: 20px;
}

p {
    margin: 15px;
}

.label {
    margin-top: 20px;
}

img {
    margin-bottom: 20px;
}

/*Overlap CSS (mix in media)*/

@media (max-width: 992px) {
    .display {
        height: 33.33%;
    }
    .center>h1 {
        font-size: 7vw;
    }
}

@media (min-width: 992px) {
    .display {
        height: 100%;
    }
    .center>h1 {
        font-size: 70px;
    }
    .primary-label>h1 {
        font-size: 40px !important;
    }
}

@media (max-width: 768px) {
    .primary-label {
        padding: 20px 5px 10px 5px !important;
        margin: 20px 5px 10px 5px !important;
    }
    p {
        margin: 10px !important;
    }
    .col-md-6 {
        margin-bottom: 5px;
        padding: 10px;
    }
}

@media (min-width:768px) {
    .col-md-6 {
        margin-bottom: 15px;
        padding: 20px;
    }
}

/*Extremely SMALL (such as phones)*/

@media (max-width: 475px) {
    .equation {
        font-size: 6px !important;
    }
    .jumbotron{
        margin-bottom: 0em !important;
    }
    .primary-label{
        padding: 0px;
        margin: 0px;
    }
}

/*Content Page CSS*/

.display {
    display: table;
    padding: 0px !important;
}

.display>div {
    display: table-cell;
    vertical-align: middle;
}

.selector {
    max-width: 100% !important;
    padding: 0px !important;
}

.bright a:after,
.bright a:before {
    background: #FFF !important;
}

.modal-body>p {
    text-align: left;
}

.primary-label>h1 {
    font-size: 30px;
}

.equation {
    font-size: 8px;
}
