#main {
    background: linear-gradient( rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.6)), url('../img/delaware.jpg') no-repeat center;
    background-size: cover;
}

body {
    background-color: #FFF9E9;
}

li,
p {
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}

h5,
h6 {
    padding: 20px;
    font-family: 'Muli', sans-serif;
    font-family: 'Heebo', sans-serif;
}

#co {
    background-color: #A3BCF9;
    font-family: 'Sigmar One', cursive;
}

.text {
    height: 100%;
}

#c1 {
    background-color: #aabfff;
}

.controller:hover {
    color: #F39342;
    cursor: pointer;
}

/* used in apush-script.js */

.ush-link {
    color: white !important;
}

.ush-icon {
    border-color: lightblue !important;
}
