#main {
    background: linear-gradient( rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)), url('../img/delaware.jpg') no-repeat center;
    background-size: cover;
}

body {
    background-color: white;
}

h6 {
    padding: 20px;
}

#co {
    background-color: #F2CCC3;
    /*#9bd5ff*/
}


#c1 {
    background-color: #aabfff;
}

/* used in apush-script.js */

.ush-link {
    color: white !important;
}

.ush-icon {
    border-color: lightblue !important;
}
