#main {
    background: url('../img/delaware.jpg') no-repeat center;
    background-size: cover;
}
body {
    background-color: #add8e6;
}

h6 {
    padding: 20px;
}

#co {
    background-color: #9bd5ff;
}


#c1 {
    background-color: #aabfff;
}

.text{
    height:100%;
}

