/* Hover over navlink to generate 2 animate bars top and bottom  */
.animate a:before, .animate a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 3px;
    content: '';
    background: black;
    transition: all 0.4s;
}

.animate a:before
{
    left: 0px;
    top: 0px;
}

.animate a:after
{
    right: 0px;
    bottom: 0px;
}

.animate a:hover:before, .animate a:hover:after
{
    opacity: 1;
    width: 100%;
}
